<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Jorge</title>
    <style type="text/css">
        body {
            background-color: lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .movies-container {
            margin-top: 15%;
            text-align: center;
        }

        .movie-container {
            background-color: aliceblue;
            text-align: center;
            margin-bottom: 30px;
            margin-left: 20%;
            margin-top: 20px;
            border: 1px solid #220202;
            padding: 20px;
            width: 60%;
            box-sizing: border-box;
        }

        .movie-image {
            width: 200px;
            height: auto;
        }

        .movie-details {
            margin-top: 10px;
        }

        .add-rating-button{
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10px;
        }
        .delete-rating-button {
            margin-top: 10px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 10px;
        }

        .rating-input {
            margin-top: 5px;
            width: 50px;
        }
    </style>
</head>

<body>
    <div class="container" id="container_app">
        <hr>
        <hr>
        <div v-if="isLogin">
            <center><h2>Popular Movies</h2></center>
            <div v-for="movie in movies" :key="movie.id" class="movie-container">
                <div>
                    <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Imagen de la película"
                        class="movie-image">
                </div>
                <div class="movie-details">
                    <h3>{{ movie.title }}</h3>
                    <p><strong>Overview:</strong> {{ movie.overview }}</p>
                    <p><strong>Release date:</strong> {{ movie.release_date }}</p>
                    <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
                    <input v-model="movie.ratings" type="number" class="rating-input" min="0" max="10" step="1"
                        placeholder="Rating" @keydown="handleRatingInputKeydown($event, movie)">
                    <button @click="addRating(movie)" class="add-rating-button">Add Rating</button>
                    <button @click="deleteRating(movie)" class="delete-rating-button" :disabled="!movie.ratings">Delate Rating</button>
                </div>
            </div>
        </div>
        <form v-else>
            <fieldset>
                <legend>
                    Email:
                </legend>
                <input v-model="email" type="email" placeholder="Username" name="">
            </fieldset>
            <fieldset>
                <legend>
                    Password:
                </legend>
                <input v-model="password" type="password" placeholder="Password" name="">
            </fieldset>
            <button @click="loginTMDb" type="button" v-if="!isLogin">
                Login
            </button>
        </form>
        <button @click="logout" v-if="isLogin">Salir</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
        const { createApp, ref, onMounted } = Vue;

        createApp({
            setup() {
                let isLogin = ref(false);
                let movies = ref([]);
                let email = ref('');
                let password = ref('');

                const storedSessionToken = localStorage.getItem("tmdb_session_token");

                if (storedSessionToken) {
                    isLogin.value = true;
                }

                return {
                    isLogin,
                    movies,
                    email,
                    password,
                };
            },
            async mounted() {
                if (this.isLogin) {
                    await this.loadMovies();
                }
            },
            methods: {
                async loginTMDb() {
                    const apiKey = '318011e58cf08508790d43299fed8078';
                    const apiUrl = 'https://api.themoviedb.org/3/authentication/token/validate_with_login';

                    const options = {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            username: this.email,
                            password: this.password,
                            request_token: '',
                        }),
                    };

                    try {
                        const response = await fetch(`${apiUrl}?api_key=${apiKey}`, options);
                        const data = await response.json();

                        if (data.success) {
                            const tmdbSessionToken = data.request_token;
                            localStorage.setItem("tmdb_session_token", tmdbSessionToken);

                            this.isLogin = true;

                            alert("Inicio de sesión exitoso");

                            await this.loadMovies();
                        } else {
                            alert("Inicio de sesión fallido");
                        }
                    } catch (error) {
                        
                        alert("Ocurrió un error al iniciar sesión");
                    }
                },
                async loadMovies() {
                    const apiKey = '318011e58cf08508790d43299fed8078';
                    const apiUrl = 'https://api.themoviedb.org/3/movie/popular';

                    try {
                        const response = await fetch(`${apiUrl}?api_key=${apiKey}&page=1`);
                        const data = await response.json();

                        if (data.results) {
                            this.movies = data.results.map(movie => ({ ...movie, ratings: '' }));
                        }
                    } catch (error) {
                        
                    }
                },
                handleRatingInputKeydown(event, movie) {
                    
                    if (!((event.keyCode >= 37 && event.keyCode <= 40) || event.keyCode === 8 || event.keyCode === 46)) {
                        event.preventDefault();
                    }
                },
                async addRating(movie) {
                    const apiKey = '318011e58cf08508790d43299fed8078';
                    const apiUrl = `https://api.themoviedb.org/3/movie/${movie.id}/rating?api_key=${apiKey}`;
                    const rating = parseFloat(movie.ratings);

                    if (isNaN(rating) || rating < 0 || rating > 10) {
                        alert("Ingresa una calificación entre 0 y 10.");
                        return;
                    }

                    const options = {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json;charset=utf-8',
                            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2OTA3Y2I5YTM0NjZjYzczMDYyYWMxODZiMWY0YzQ2NiIsInN1YiI6IjY1MThhMjI3OTNiZDY5MDBjNGRmMDA2MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.pGUbxo2VXludkRoOA7wrOnyRBEj98uPotOOY3GufyAk'
                        },
                        body: JSON.stringify({
                            value: rating
                        })
                    };

                    try {
                        const response = await fetch(apiUrl, options);
                        const data = await response.json();
                        if (data.success) {
                            alert("Rating agregado correctamente");
                        } else {
                            alert("Error al agregar el rating");
                        }
                    } catch (error) {
                        
                    }
                },
                async deleteRating(movie) {
                    if (!movie.ratings) {
                        alert("No puedes eliminar una calificación que no ha sido agregada.");
                        return;
                    }

                    const apiKey = '318011e58cf08508790d43299fed8078';
                    const apiUrl = `https://api.themoviedb.org/3/movie/${movie.id}/rating?api_key=${apiKey}`;

                    const options = {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json;charset=utf-8',
                            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2OTA3Y2I5YTM0NjZjYzczMDYyYWMxODZiMWY0YzQ2NiIsInN1YiI6IjY1MThhMjI3OTNiZDY5MDBjNGRmMDA2MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.pGUbxo2VXludkRoOA7wrOnyRBEj98uPotOOY3GufyAk'
                        }
                    };

                    try {
                        const response = await fetch(apiUrl, options);
                        const data = await response.json();
                        if (data.success) {
                            alert("Rating eliminado correctamente");
                            movie.ratings = ''; 
                        } else {
                            alert("Error al eliminar el rating");
                        }
                    } catch (error) {
                        
                        alert("No se puede eliminar raiting");
                    }
                },
                logout() {
                    this.isLogin = false;
                    localStorage.removeItem("tmdb_session_token");
                },
            },
        }).mount('#container_app');
    </script>
</body>

</html>